{% extends 'base.html' %}

{% block title %}{{ topic.title }}{% endblock %}

{% block content %}

      <p><h2>{{ card.topic }}</h2></p>
      <div class="container mb-5">
          <div class="row-col">
              <p>{{ card.body }}</p>
          </div>
      </div>
      <div class="container text-center">
          <div class="row">
              <div class="col-6">
                  <form action="{% url 'anki:card_detail' card.id %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Check" >
                     </form>
              </div>
              <div class="col-6">
                    {% if request.method == 'POST' %}
                        <pre>{{ card.correct_answer }}</pre>
                    {% endif %}
              </div>
          </div>
      </div>
      <p>




        <p><a href="{{ card.get_previous_card_or_last.get_absolute_url }}">Previous</a>
        <a href="{{ card.get_next_card_or_first.get_absolute_url }}">Next</a></p>

        <p><a href="{% url 'anki:card_update' card.id %}">Update this card</a></p>
        <p><a href="{% url 'anki:card_remove' card.id %}">Remove to archive</a></p>
        <p><a href="{% url 'anki:card_create' topic.id%}">+New card</a></p>


{% endblock %}
